<h1>Bonjour, très cher
	{{ pseudo }}!</h1>

<p>Vous avez effectué une demande de réinitialisation du mot de passe. Ne vous en faites pas, on n'est pas là pour vous moquer: ça nous arrive aussi d'oublier nos propres mots de passe. (En même temps, avec la sécurité mise en place pour respecter la RGPD...)</p>
<p>Votre lien pour réinitaliser votre mot de passe est le suivant:</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Mais attention! Ce lien expire dans
	{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>Sur ce, on espère vous revoir interagir avec nos autres utilisateurs et profiter de nouveaux objets tout en faisant de nouvelles connaissances! :D</p>

<p>L'équipe CyClic</p>
