{% extends 'layout/auth.html.twig' %}

{% block title %}Réinitialisation du mot de passe
{% endblock %}

{% block container %}
	<h1>Réinitialisation du mot de passe</h1>

	{{ form_start(resetForm) }}
	{{ form_row(resetForm.plainPassword, {
            attr: {
                'placeholder': 'Mot de passe'
                }
        }) }}
	<button class="btn btn-primary reset_btn">Réinitialiser le mot de passe</button>
	{{ form_end(resetForm) }}
{% endblock %}
