{% extends 'layout/auth.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block container %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1>Demande de réinitialisation du mot de passe</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email, {
            attr: {
                'placeholder': 'Adresse mail'
                }
        }) }}
        <div>
            <small>
                Veuillez entrer votre adresse mail pour que nous puissions vous envoyer un lien
            </small>
        </div>

        <button class="btn btn-primary reset_btn">Demander la réinitialisation de mot de passe</button>
    {{ form_end(requestForm) }}
{% endblock %}
