{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}
	<style>
		p {
			max-width: 600px;
		}
	</style>
	<h3>
		Bienvenue dans le panel admin ! Le panel de vos envies !
	</h3>

	<p>Ici vous pouvez bannir des utilisateurs qui ne respectent pas les règles pourtant simples.</p>

	<h4>Mais aussi !</h4>

	<p>Supprimer des annonces douteuses ou politiques</p>

	<h5>
		<a href="{{ path('home') }}">Retourne sur le site !</a>
	</h5>

{% endblock %}
