.aside_form {
	padding: 1rem;
}

.aside_filtre {
	position: fixed;
	z-index: 1001;
	height: 100%;
	margin-left: 0.5rem;
	background-color: #eee;
	filter: drop-shadow(1mm 0mm 1mm #b6b6b6);

	@include smartphone_view() {
		width: 30%;
		select,
		input,
		a {
			width: 100%;
		}
	}
	select,
	input,
	a {
		width: 100%;
	}
}
.aside_titre {
	margin: 4rem 0rem;
	text-align: center;
	@include smartphone_view() {
		margin: 1.5rem 0rem;
	}
}
.aside__h6,
.aside_titre {
	font-weight: bold;
}
select {
	margin: 0 0 2rem 0rem;
	@include smartphone_view() {
		margin: 0 0 1rem 0rem;
	}
}

@include smartphone_view() {
	.aside_form {
		margin: 0.5rem;
		padding: 0;
	}
}

@include tablette_view() {
	.aside_form {
		margin: 2rem;
		padding: 0;
	}
}

#mainMessagerie {
	width: 60%;
	margin-left: 27%;
}

#myModal {
	z-index: 1005;
}

// #calendarHelp,
// .example-wrapper {
// 	margin-bottom: 10rem;
// }

// @media screen and (min-width: 992px) {
// 	.aside_form {
// 		margin: 2rem;
// 	}
// }
