footer {
	@include flex(space-between, center);
	padding: 15px;
	background-color: $footer_bg;
	color: #fff;
	z-index: 1002;
	position: absolute;
	bottom: 0;
	width: 100%;
	@include smartphone_view() {
		@include flex(space-evenly, center);
		@include flex-flow(column);
	}
}

.logo_social {
	@include flexbox();
	img {
		width: 32px;
		height: 32px;
		margin: 0.7rem;
	}
}

.footer_logo {
	width: 64px;
	@include smartphone_view {
		display: none;
	}
}

.list_flex {
	@include flex(space-evenly, stretch);
	li {
		@include flexbox();
	}
	width: 80%;
}
