{% extends 'base.html.twig' %}

{% block body %}

	<div class="annonceForm_container">
		<h1 class="container__title">
			Signalement
		</h1>
		{{ form_start(form) }}
		{{ form_row(form.objet)}}
		{{ form_row(form.description)}}
		{{ form_end(form) }}
	</div>
{% endblock %}
