input,
textarea,
.form-select,
.login input {
	font-family: $font-sans-serif;
	background-color: $gris;
	border: none;
}

.auth_container form {
	padding: 1%;
}

.annonceForm_container input {
	margin: 0.5rem auto;
}

.auth_container input,
.voie,
.ville,
.CP,
.formContent {
	border-radius: 5px;
	margin-top: 1em;
}

.auth_container input,
.voie,
.ville,
.CP,
.formContent,
.container__blocBoutons,
.container__galerie {
	margin: auto;
}

.auth_container input,
.formContent,
.container__blocBoutons,
.container__galerie,
.container__galerie li {
	width: 90%;
}

.form-control {
	font-family: $font-sans-serif;
	background-color: $gris;
	border: none;
	padding: none;
	height: 40px;
}

.formContent {
	padding: 0.2rem 1rem;
}

.container {
	@include tablette_view() {
		width: 90%;
		margin: auto;
	}
}

.container__blocBoutons {
	@include flex(flex-start, center);
	select {
		margin-right: 2rem;
		width: 150px;
	}

	@include special_view() {
		@include flex-flow(column);
	}
}

.container__galerie {
	@include flex(center, space-between);
	.photos {
		margin: 0;
		padding: 0;
		li {
			margin: 0.5rem auto;
			list-style: none;
			label {
				display: none;
			}
			input {
				width: 100%;
			}
			button {
				@include bouton(white, $rouge, 5px, 0.3rem);
				margin: 0.3rem;
			}
		}
	}
}

.fa-image {
	font-size: 600%;
}

.hidden {
	display: none;
}

.coordonnees {
	border-radius: 0%;
	@include tablette_view() {
		border-radius: 5px;
	}
}

#annonce_photos {
	label,
	input {
		display: none;
	}
	li {
		color: red;
		padding: 1rem;
	}
}

#photos {
	@include flex(space-around, flex-end);
	li {
		list-style: none;
	}
	input[type="checkbox"],
	label {
		display: none;
	}
	input[type="file"] {
		margin: 1rem;
		width: 200px;
	}

	img {
		width: 120px;
	}
	a {
		display: block;
	}
}

#search_categorie {
	margin: 1rem 0;
}
