.logotype {
	@include flexbox;
	width: 200px;
	padding-top: 1%;
}

.portrait_nav_logotype,
.portrait_auth_logotype,
.alt_footer_logo {
	display: none;
}

.portrait_nav_logotype {
	@include smartphone_view() {
		display: inline;
		padding-left: 10px;
		width: 47.31px;
	}
}

.portrait_auth_logotype {
	@include smartphone_view() {
		@include flexbox();
		padding-top: 1%;
		width: 64px;
	}
}

.alt_footer_logo {
	@include smartphone_view() {
		display: inline;
		width: 222px;
	}
}

.nav_logo,
.logotype,
.footer_logo {
	@include smartphone_view {
		display: none;
	}
}

.preview {
	width: 120px;
}
