* {
  font-family: "Outfit", sans-serif;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Cy", sans-serif;
}

@font-face {
  font-family: "Outfit";
  src: local("Outfit Light"),
    local("Outfit-Light") format("woff2") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: local("Outfit Bold"), local("Outfit-Bold") format("woff2") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Outfit";
  src: local("Outfit Regular"),
    local("Outfit-Regular") format("woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cy";
  src: local("Cy Light"), local("Cy-Light") format("woff2") format("woff2");
}
