@mixin flex($position, $alignment) {
  display: flex;
  justify-content: $position;
  align-items: $alignment;
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex-flow($line_column) {
  -webkit-flex-flow: $line_column;
  -moz-flex-flow: $line_column;
  -ms-flex-flow: $line_column;
  flex-flow: $line_column;
  -ms-flex-pack: $line_column;
}

@mixin justify-content($position) {
  -webkit-justify-content: $position;
  -moz-justify-content: $position;
  -ms-justify-content: $position;
  justify-content: $position;
  -ms-flex-pack: $position;
}

@mixin align-items($alignment) {
  -webkit-align-items: $alignment;
  -moz-align-items: $alignment;
  -ms-align-items: $alignment;
  align-items: $alignment;
  -ms-flex-pack: $alignment;
}

@mixin flex-wrap($should_wrap) {
	-webkit-flex-wrap: $should_wrap;
	-moz-flex-wrap: $should_wrap;
	-ms-flex-wrap: $should_wrap;
	flex-wrap: $should_wrap;
	-ms-flex-pack: $should_wrap;
}

@mixin bouton($couleur, $couleurBG, $border-radius, $padding) {
  background-color: $couleurBG;
  color: $couleur;
  border-radius: $border-radius;
  padding: $padding;
  border: none;
}

@mixin avatar($border) {
  border: $border;
  border-width: 3px;
  border-color: white;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
    border-radius: 100%;
  }
}

@mixin formContainer() {
  background-color: $blanc;
  border-radius: 25px;
  margin: 5rem auto;
  width: 40%;
  text-align: center;
}

@mixin doNotHighlight() {
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
