// Couleurs
$jaune: #edb20c;

$turquoise: #18edb1;

$bleu: #1844ed;

$orange: #ee7c01;

$rouge: #ed3f0c;

$blanc: #ffffff;

$gris: #eeeeee;

$background_auth: #b6b6b6;

$footer_bg: #9a9a9a;

// Polices de caractères
$font-header: "Cy";
$font-sans-serif: "Outfit";
