<div>
	{{ form_start(form) }}
	<div>
		{{ form_widget(form.contenu, { 'attr': {'class': 'form-control'} }) }}
	</div>
	<div class="searchBar">
		{{ form_widget(form.save, { 'attr': {'class': 'btn_fixed_width'} }) }}
	</div>
	{{ form_end(form) }}
</div>
