.profile,
#annonce {
	@include flex-flow(row);
	margin: 0.5rem;
}

.profile {
	@include flex(space-between, center);
	@include tablette_view() {
		@include flex-flow(column);
	}
}

.desc {
	width: 70%;
}

#annonce {
	@include flex(center, center);
}

.imagePro {
	@include flex(center, flex-start);
	@include flex-flow(column);
	margin: 5rem;

	img {
		border-radius: 100%;
	}

	h4 {
		font-size: 500%;
		font-weight: lighter;
	}

	@include tablette_view() {
		@include flex(center, center);
	}
}
