.entete,
.form__blocDropdowns {
	@include flex(space-between, baseline);
}

.entete {
	margin: 2rem 0;

	@include tablette_view() {
		width: 90%;
		@include flex-flow(row);
		margin: 2rem 0 0 2rem;
	}
	@include smartphone_view() {
		display: block;
	}
}

.entete__form,
.searchBar {
	@include flexbox();
}

.entete__form {
	margin-right: 15%;
	flex-wrap: wrap;
	@include tablette_view() {
		width: 75%;
	}
	@include smartphone_view() {
		width: 100%;
	}
}

.divInvisible {
	width: 30%;
	@include tablette_view() {
		width: auto;
	}
}

.form__blocDropdowns {
	width: 100%;
	select {
		margin: 0rem 0rem 2rem 0rem;
	}
}

.searchBar {
	input {
		background-color: rgb(232, 232, 232);
		border: none;
		padding: 1rem;
		color: gray;
		border-radius: 5px 0px 0px 5px;
	}
	button {
		background-color: $orange;
		border: none;
		color: white;
		font-size: xx-large;
		border-radius: 0px 5px 5px 0px;
		padding: 0rem 0.5rem;
	}

	@include smartphone_view() {
		margin: 1rem 0;
	}
}

.mainAnnonce {
	margin-left: 20%;
	@include smartphone_view() {
		margin-left: 150px;
	}
	@include tablette_view() {
		margin-left: 225px;
	}
}

#site-search {
	@include smartphone_view() {
		width: 100%;
	}
	@include tablette_view() {
		width: 100%;
	}
}

#selectTri {
	@include smartphone_view() {
		width: 100%;
	}
	@include tablette_view() {
		width: auto;
	}
}

#map {
	height: 500px;
	margin-left: 10%;
	@include smartphone_view() {
		height: 300px;
		margin-left: 0;
	}
	@include tablette_view() {
		width: 90%;
		margin: 1rem;
	}
}
