a {
	color: $orange;
	font-family: $font-header;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: $jaune;
}

.fa-map-marker-alt {
	font-size: large;

	@include tablette_view() {
		font-size: x-large;
	}
}

.footer_link {
	color: white;
}
