.bouton,
.homedropdown,
.geolocation,
.auth_geo,
.localize_me_there {
	@include bouton(white, $turquoise, 5px, 0.3rem);
}

.bouton,
.bouton_annuler {
	&-localisation {
		width: 90%;
		margin: 1rem auto;
	}
}

.bouton_margin {
	@include bouton(white, $turquoise, 5px, 0.5rem);
	width: fit-content;
	margin: 10px;
}

.bouton_annuler {
	@include bouton(white, $rouge, 5px, 0.3rem);
}

.homedropdown,
.geolocation,
.auth_geo,
.localize_me_there {
	height: 40px;
}

.homedropdown,
.localize_me_there {
	border-top-right-radius: 0%;
	border-bottom-right-radius: 0%;
	@include tablette_view {
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		width: 100%;
	}
}

.auth_btn,
.reset_btn,
.btn_fixed_width,
.interesting,
.bouton_retour {
	@include bouton(white, $orange, 10px, 0.3rem);
}

.inappropriate {
	@include bouton(white, $rouge, 10px, 0.3rem);
}

.auth_btn,
.reset_btn,
.btn_fixed_width,
.interesting,
.inappropriate {
	font-family: $font-header;
	font-weight: bold;
	font-size: 24px;
	padding: 10px;
	margin: 1rem;
	&-annulation {
		background-color: $jaune;
	}
}

.btn_fixed_width,
.btn_fixed_width:hover {
	text-decoration: none;
}
.btn_fixed_width:hover {
	background-color: $jaune;
}

.auth_btn,
.reset_btn {
	padding: 10px;
}

.btn_fixed_width {
	width: 350px;
	height: 60px;
	margin: 10px;
	display: inline;
}

button:hover,
.auth_btn:hover,
.reset_btn:hover {
	background-color: $jaune;
}

button:hover,
.auth_btn:hover,
.reset_btn:hover,
.add_photo_list:hover,
.add_tag_list:hover {
	color: white;
}

button[data-bs-toggle="dropdown"],
.homedropdown[data-bs-toggle="dropdown"] {
	background-color: $turquoise;
}
.geolocation,
.auth_geo {
	border-top-left-radius: 0%;
	border-bottom-left-radius: 0%;
}

.geolocation {
	@include tablette_view {
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		width: 100%;
		margin-bottom: 1rem;
	}
}
