input,
.form-select,
.login input {
    font-family: $font-sans-serif;
    background-color: $gris;
    border: none;
}

.auth_container form {
    padding: 1%;
}

.auth_container input {
    width: 90%;
    border-radius: 5px;
    margin: 1.5%;
}