{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}
        <div class="d-flex">
                {{ include('messagerie/_aside_to.html.twig') }}
        </div>
{% endblock %}
