{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}
	<div class="d-flex  bd-highlight">
                {{ include('messagerie/_aside_to.html.twig') }}
                <div class="p-2 flex-grow-1 bd-highlight">
                        {{ include('messagerie/_messages.html.twig') }}
                        {{ include('messagerie/_form_send.html.twig') }}
                        {{ include('messagerie/_transactionInfo.html.twig') }}

                </div>
	</div>
{% endblock %}
