{% extends 'base.html.twig' %}

{% block title %}Mentions Legales{% endblock %}

{% block body %}

<div class="example-wrapper">
        
    Le site Internet https://cyclic.fr est édité par CCI dev. 
    Siège social : 234 route de la Meinau - 67000 Strasbourg</li>
    Vous pouvez nous contacter en cliquant sur  
    <a class="link-primary" href="mailto:cdacrousti@gmail.com?subject=Contact"> le lien suivant</a></li>.

<br>
<br>    
    

<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:w="urn:schemas-microsoft-com:office:word"
xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=Word.Document>
<meta name=Generator content="Microsoft Word 15">
<meta name=Originator content="Microsoft Word 15">
<link rel=File-List href="mentions%20legales_fichiers/filelist.xml">

<link rel=themeData href="mentions%20legales_fichiers/themedata.thmx">
<link rel=colorSchemeMapping
href="mentions%20legales_fichiers/colorschememapping.xml">
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;
	mso-font-charset:0;
	mso-generic-font-family:roman;
	mso-font-pitch:variable;
	mso-font-signature:3 0 0 0 1 0;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;
	mso-font-charset:0;
	mso-generic-font-family:swiss;
	mso-font-pitch:variable;
	mso-font-signature:-469750017 -1073732485 9 0 511 0;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin:0cm;
	mso-pagination:widow-orphan;
	font-size:10.0pt;
	font-family:"Calibri",sans-serif;
	mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:"Times New Roman";
	mso-fareast-theme-font:minor-fareast;
	mso-hansi-font-family:Calibri;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;}
h1
	{mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin:0cm;
	line-height:130%;
	mso-pagination:widow-orphan lines-together;
	page-break-after:avoid;
	mso-outline-level:1;
	font-size:14.0pt;
	mso-bidi-font-size:10.0pt;
	font-family:"Arial",sans-serif;
	color:#051259;
	mso-font-kerning:0pt;
	mso-bidi-font-weight:normal;}
h2
	{mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin:0cm;
	line-height:130%;
	mso-pagination:widow-orphan lines-together;
	page-break-after:avoid;
	mso-outline-level:2;
	font-size:12.0pt;
	mso-bidi-font-size:10.0pt;
	font-family:"Arial",sans-serif;
	color:#051259;
	mso-bidi-font-weight:normal;}
h3
	{mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin:0cm;
	line-height:130%;
	mso-pagination:widow-orphan lines-together;
	page-break-after:avoid;
	mso-outline-level:3;
	font-size:10.0pt;
	font-family:"Arial",sans-serif;
	color:#051259;
	mso-bidi-font-weight:normal;}
h4
	{mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin:0cm;
	line-height:130%;
	mso-pagination:widow-orphan;
	mso-outline-level:4;
	font-size:10.0pt;
	font-family:"Arial",sans-serif;
	color:#051259;
	mso-bidi-font-weight:normal;}
p.MsoHeader, li.MsoHeader, div.MsoHeader
	{mso-style-priority:99;
	mso-style-link:"En-tête Car";
	margin:0cm;
	mso-pagination:widow-orphan;
	tab-stops:center 8.0cm right 16.0cm;
	font-size:10.0pt;
	font-family:"Calibri",sans-serif;
	mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:"Times New Roman";
	mso-fareast-theme-font:minor-fareast;
	mso-hansi-font-family:Calibri;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;}
p.MsoFooter, li.MsoFooter, div.MsoFooter
	{mso-style-priority:99;
	mso-style-link:"Pied de page Car";
	margin:0cm;
	mso-pagination:widow-orphan;
	tab-stops:center 8.0cm right 16.0cm;
	font-size:10.0pt;
	font-family:"Calibri",sans-serif;
	mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:"Times New Roman";
	mso-fareast-theme-font:minor-fareast;
	mso-hansi-font-family:Calibri;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;}
span.En-tteCar
	{mso-style-name:"En-tête Car";
	mso-style-priority:99;
	mso-style-unhide:no;
	mso-style-locked:yes;
	mso-style-link:En-tête;}
span.PieddepageCar
	{mso-style-name:"Pied de page Car";
	mso-style-priority:99;
	mso-style-unhide:no;
	mso-style-locked:yes;
	mso-style-link:"Pied de page";}
p.Paragraphe, li.Paragraphe, div.Paragraphe
	{mso-style-name:Paragraphe;
	mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin:0cm;
	line-height:130%;
	mso-pagination:widow-orphan;
	font-size:10.0pt;
	font-family:"Arial",sans-serif;
	mso-fareast-font-family:"Times New Roman";
	mso-fareast-theme-font:minor-fareast;
	color:black;}
.MsoChpDefault
	{mso-style-type:export-only;
	mso-default-props:yes;
	font-size:10.0pt;
	mso-ansi-font-size:10.0pt;
	mso-bidi-font-size:10.0pt;
	font-family:"Calibri",sans-serif;
	mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:"Times New Roman";
	mso-fareast-theme-font:minor-fareast;
	mso-hansi-font-family:Calibri;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;}
 /* Page Definitions */
 @page
	{mso-footnote-separator:url("mentions%20legales_fichiers/header.htm") fs;
	mso-footnote-continuation-separator:url("mentions%20legales_fichiers/header.htm") fcs;
	mso-endnote-separator:url("mentions%20legales_fichiers/header.htm") es;
	mso-endnote-continuation-separator:url("mentions%20legales_fichiers/header.htm") ecs;}
@page WordSection1
	{size:595.3pt 841.9pt;
	margin:70.85pt 70.85pt 70.85pt 70.85pt;
	mso-header-margin:35.4pt;
	mso-footer-margin:35.4pt;
	mso-even-footer:url("mentions%20legales_fichiers/header.htm") ef1;
	mso-footer:url("mentions%20legales_fichiers/header.htm") f1;
	mso-paper-source:0;}
div.WordSection1
	{page:WordSection1;}
-->
</style>
<!--[if gte mso 10]>
<style>
 /* Style Definitions */
 table.MsoNormalTable
	{mso-style-name:"Tableau Normal";
	mso-tstyle-rowband-size:0;
	mso-tstyle-colband-size:0;
	mso-style-noshow:yes;
	mso-style-priority:99;
	mso-style-parent:"";
	mso-padding-alt:0cm 5.4pt 0cm 5.4pt;
	mso-para-margin:0cm;
	mso-pagination:widow-orphan;
	font-size:10.0pt;
	font-family:"Calibri",sans-serif;
	mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;
	mso-hansi-font-family:Calibri;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;}
</style>
<![endif]--><!--[if gte mso 9]><xml>
 <o:shapedefaults v:ext="edit" spidmax="1026"/>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <o:shapelayout v:ext="edit">
  <o:idmap v:ext="edit" data="1"/>
 </o:shapelayout></xml><![endif]-->
</head>

<body lang=FR style='tab-interval:35.4pt;word-wrap:break-word'>

<div class=WordSection1>

<h1 align=center style='text-align:center'>Mentions légales</h1>

<p class=Paragraphe align=center style='text-align:center'>En vigueur au
24/02/2022</p>

<p class=Paragraphe align=center style='text-align:center'><o:p>&nbsp;</o:p></p>

<p class=Paragraphe align=center style='text-align:center'><span
style='mso-spacerun:yes'> </span></p>

<p class=Paragraphe>Conformément aux dispositions des Articles 6-III et 19 de
la Loi n°2004-575 du 21 juin 2004 pour la Confiance dans l’économie numérique,
dite L.C.E.N., il est porté à la connaissance des utilisateurs et visiteurs,
ci-après l&quot;&quot;<b style='mso-bidi-font-weight:normal'>Utilisateur</b>&quot;,
du site https://lda.cda-ccicampus.dev/ , ci-après le &quot;<b style='mso-bidi-font-weight:
normal'>Site</b>&quot;, les présentes mentions légales.</p>

<p class=Paragraphe><o:p>&nbsp;</o:p></p>

<p class=Paragraphe>La connexion et la navigation sur le Site par l’Utilisateur
implique acceptation intégrale et sans réserve des présentes mentions légales.</p>

<p class=Paragraphe><o:p>&nbsp;</o:p></p>

<p class=Paragraphe>Ces dernières sont accessibles sur le Site à la rubrique «
Mentions légales ».</p>

<p class=Paragraphe><o:p>&nbsp;</o:p></p>

<h2>ARTICLE 1 - L'EDITEUR</h2>

<h2><o:p>&nbsp;</o:p></h2>

<p class=Paragraphe>L’édition et la direction de la publication du Site est
assurée par Florian DUCHESNE - Mathieu LANDAUER - Damien LEDDA - Antonin
MOUGENOT - Leonard SCHAEFFER, domiciliée 234 route de la Meinau - 67000
Strasbourg, dont le numéro de téléphone est 0388123456, et l'adresse e-mail
cdacrousti@gmail.com.</p>

<p class=Paragraphe><span style='mso-spacerun:yes'> </span></p>

<p class=Paragraphe>ci-après l'&quot;<b style='mso-bidi-font-weight:normal'>Editeur</b>&quot;.</p>

<h1><o:p>&nbsp;</o:p></h1>

<h2>ARTICLE 2 - L'HEBERGEUR</h2>

<h1><o:p>&nbsp;</o:p></h1>

<p class=Paragraphe>L'hébergeur du Site est la société ovh, dont le siège
social est situé au 9 Rue du Bass de l'Industrie, 67000 Strasbourg , av<b
style='mso-bidi-font-weight:normal'>ec le numéro de téléphone : 1007 </b></p>

<h1><o:p>&nbsp;</o:p></h1>

<h2>ARTICLE 3 - ACCES AU SITE</h2>

<h1><o:p>&nbsp;</o:p></h1>

<p class=Paragraphe>Le Site est accessible en tout endroit, 7j/7, 24h/24 sauf
cas de force majeure, interruption programmée ou non et pouvant découlant d’une
nécessité de maintenance.</p>

<p class=Paragraphe><o:p>&nbsp;</o:p></p>

<p class=Paragraphe>En cas de modification, interruption ou suspension du Site,
l'Editeur ne saurait être tenu responsable.</p>

<p class=Paragraphe><o:p>&nbsp;</o:p></p>

<h2>ARTICLE 4 - COLLECTE DES DONNEES</h2>

<p class=Paragraphe><o:p>&nbsp;</o:p></p>

<p class=Paragraphe>Le Site assure à l'Utilisateur une collecte et un
traitement d'informations personnelles dans le respect de la vie privée
conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux
fichiers et aux libertés. </p>

<p class=Paragraphe><o:p>&nbsp;</o:p></p>

<p class=Paragraphe>En vertu de la loi Informatique et Libertés, en date du 6
janvier 1978, l'Utilisateur dispose d'un droit d'accès, de rectification, de
suppression et d'opposition de ses données personnelles. L'Utilisateur exerce
ce droit :</p>

<p class=Paragraphe>·<span style='mso-spacerun:yes'>         </span>par voie
postale au 234 route de la Meinau 67000 Strasbourg ;</p>

<p class=Paragraphe><span style='mso-spacerun:yes'> </span></p>

<p class=Paragraphe>Toute utilisation, reproduction, diffusion,
commercialisation, modification de toute ou partie du Site&#65279;, sans
autorisation de l’Editeur est prohibée et pourra entraînée des actions et
poursuites judiciaires telles que notamment prévues par le Code de la propriété
intellectuelle et le Code civil.</p>

<p class=Paragraphe><o:p>&nbsp;</o:p></p>

<p class=Paragraphe><o:p>&nbsp;</o:p></p>

<p class=Paragraphe><o:p>&nbsp;</o:p></p>

<p class=Paragraphe>Rédigé sur http://legalplace.fr</p>

</div>

</body>

</html>


</div>





{% endblock %}
