{% extends 'base.html.twig' %}

{% block title %}Mentions Legales
{% endblock %}

{% block body %}
	<h1 align="center" style='text-align:center'>
		Mentions légales
		<br>
		<small>En vigueur au 24/02/2022</small>
	</h1>

	<p class="Paragraphe">
		<br>
		Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance dans l’économie numérique, dite L.C.E.N., il est porté à la connaissance des utilisateurs et visiteurs, ci-après l'"<b>Utilisateur</b>", de CyClic, ci-après le "<b>Site</b>", les présentes mentions légales.
		<br>
		La connexion et la navigation sur le Site par l’Utilisateur implique acceptation intégrale et sans réserve des présentes mentions légales.
		<br>
		Ces dernières sont accessibles sur le Site à la rubrique « Mentions légales ».
	</p>
	<br>
	<h2>
		ARTICLE 1 - L'EDITEUR
	</h2>

	<p class="Paragraphe">
		Le site est réalisé par Florian DUCHESNE - Mathieu LANDAUER - Damien LEDDA - Antonin MOUGENOT - Leonard SCHAEFFER, ci-après les "<b>Éditeurs</b>".
	</p>
	<br>
	<h2>
		ARTICLE 2 - L'HEBERGEUR
	</h2>
	<p class="Paragraphe">
		Il n'y a pas encore d'hébergeur officiel pour ce site, mais les Éditeurs vont voir vers lequel se tourner.
	</p>
	<br>
	<h2>
		ARTICLE 3 - ACCES AU SITE
	</h2>
	<p class="Paragraphe">
		Le Site est accessible en tout endroit, 7j/7, 24h/24 sauf cas de force majeure, interruption programmée ou non et pouvant découlant d’une nécessité de maintenance.
		<br>
		En cas de modification, interruption ou suspension du Site, les Éditeurs ne sauront être tenus responsables.
	</p>
	<br>
	<h2>
		ARTICLE 4 - COLLECTE DES DONNEES
	</h2>
	<p class="Paragraphe">
		Le Site assure à l'Utilisateur une collecte et un traitement d'informations personnelles dans le respect de la vie privée conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés.
		<br>
		En vertu de la loi Informatique et Libertés, en date du 6 janvier 1978, l'Utilisateur dispose d'un droit d'accès, de rectification, de suppression et d'opposition de ses données personnelles. L'Utilisateur exerce ce droit en contactant le Site par email.
	</p>
	<br>
	<p class="Paragraphe">
		Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie du Site, sans autorisation des Éditeurs est prohibée et pourra entraînée des actions et poursuites judiciaires telles que notamment prévues par le Code de la propriété intellectuelle et le Code civil.
	</p>
{% endblock %}
